<h1>Bulk upload of clients from EXCEL file</h1>
<h3>This page is a placeholder, not part of final product. But the underlying API works!</h3>
<p>Actions to perform:</p>
<ol>
    <li>Download <a href="/api/v1/owner/clientsExample.csv">template file</a></li>
    <li>Open it by Excel, Open Office Calc or other compatible CSV editors</li>
    <li>Enter your data</li>
    <li>Save or export file, the format have to be csv</li>
    <li>Upload file</li>
</ol>

<form method="post" action="/api/v1/owner/bulkImport?huntKey={{myself.apiKey}}" enctype="multipart/form-data">
    <input type="file" name="myCsv"/>
    <input type="submit">
</form>