<h1>Edit users</h1>
<div>
    <p data-bind="text: message"></p>
    <p data-bind="if: messageLink"><a target="_blank" data-bind="attr: {'href':messageLink}, text:messageLink"></a></p>
</div>

<table id="recentVisits" border="1">
    <thead>
    <tr>
        <th>Role</th>
        <th>Name</th>
        <th>Contacts</th>
        <th>Parameters</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody data-bind="foreach: clients">
    <tr>
        <td>
            <select disabled="disabled">
                <option data-bind="attr: { 'selected' : root ? 'selected': '' }">Owner</option>
                <option data-bind="attr: { 'selected' : root ? null : 'selected' }">Buyer</option>
            </select>
        </td>
        <td>
          <p>
            <select data-bind="options: ['Mr.','Mrs.','Miss'], selectedOptions: title || 'Mr.'"></select>
            <input type="text" data-bind="value: name.givenName"/></br>
            <input type="text" data-bind="value: name.middleName"/></br>
            <input type="text" data-bind="value: name.familyName"/></br>
          </p>
        </td>
        <td>
          <input type="email" data-bind="value: email"/></br>
          <a data-bind="attr: { href: 'mailto://'+email }">Send E-Mail</a></br>
          <input type="tel" data-bind="value: telefone" placeholder="555-123-45-67"></br>
          <input type="text" data-bind="value: localAddress" placeholder="White street, house 50"></br>
        </td>
        <td>
            <p>Verified: <input type="checkbox" data-bind="checked: accountVerified" /></p>
            <p>Questionary: <input type="checkbox" data-bind="checked: needQuestionare" /></p>
        </td>
        <td>
            <p><button data-bind="click: $parent.updateClient, enable: isChanged">Save changes</button></p>
            <p><button data-bind="click: $parent.sendWelcomeEmail">Send welcome E-Mail</button></p>
            <p><button data-bind="click: $parent.sendResetPasswordEail">Send reset password E-Mail</button></p>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td><select disabled="disabled">
            <option>Buyer</option>
        </select></td>
        <td>
          <input type="text" data-bind="value : userToBeCreated.givenName" placeholder="John">
          <input type="text" data-bind="value : userToBeCreated.middleName" placeholder="Theodor">
          <input type="text" data-bind="value : userToBeCreated.familyName" placeholder="Doe">
        </td>
        <td><input type="text" data-bind="value : userToBeCreated.email" placeholder="johndoe@example.org"></td>
        <td>
          <p>Verified: <input type="checkbox" value="1" data-bind="value : userToBeCreated.accountVerified"></p>
          <p>Questionary: <input type="checkbox" value="1" data-bind="value : userToBeCreated.accountVerified"></p>
        </td>
        <td>
            <button data-bind="click: createClient">Create</button>
        </td>
    </tr>
    </tfoot>
</table>
<h3>Description</h3>
<p><b>Account verified</b> means buyer have followed the welcome link and setted up password</p>
<p><b>Reset password</b> means welcome email is send to user, and he or she have to set up a new password </p>

<script type="text/javascript" src="//yandex.st/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js"></script>
<script>
    var model = {
        'message': ko.observable(),
        'messageLink': ko.observable(),
        'clients': ko.observableArray(),
        'userToBeCreated': {
            'email':ko.observable(),
            'givenName':ko.observable(),
            'middleName':ko.observable(),
            'familyName':ko.observable(),
            'accountVerified':ko.observable(),
            'needQuestionare':ko.observable()
        },
        'createClient': function () {
            var that = this;
            $.post('/admin/clients', {
                'email': this.userToBeCreated.email(),
                'givenName': this.userToBeCreated.givenName(),
                'middleName': this.userToBeCreated.middleName(),
                'familyName': this.userToBeCreated.familyName(),
                'needQuestionare': true //temporary
            }, function (data) {
//                console.log(data);
                var newClient = /*JSON.parse*/(data);
//                console.log(newClient);
                newClient.root = false;
//                console.log(newClient);
                that.userToBeCreated.email('');
                that.userToBeCreated.givenName('');
                that.userToBeCreated.middleName('');
                that.userToBeCreated.familyName('');
                that.userToBeCreated.accountVerified('');
                that.userToBeCreated.needQuestionare('');
                that.clients.push(newClient);
            });
        },
        'sendWelcomeEmail': function (client) {
            $.post('/admin/clients/welcome/' + client.id, {}, function (data) {
//              console.log(data);
              if(data.error) {
                model.message(data.error);
              } else {
                model.message('Welcome message is send! Visit link below to verify that it works');
                model.messageLink(data.welcomeLink);
              }
            });
        },
        'sendResetPasswordEail': function (client) {
            $.post('/admin/clients/resetPassword/' + client.id, {}, function (data) {
//              console.log(data);
              if(data.error) {
                model.message(data.error);
              } else {
                model.message('Reset message is send! Visit link below to verify that it works');
                model.messageLink(data.welcomeLink);
              }
            });
        },
        'updateClient': function (client) {
          console.log(client);
          $.post('/admin/clients/'+client.id, {
            '_method':'PUT',
            'email': client.email,
            'familyName' : client.name.familyName,
            'givenName' : client.name.givenName,
            'middleName': client.name.middleName,
            'localAddress': client.localAddress,
            'telefone': client.telefone,
            'title': client.title,
            'needQuestionare':client.needQuestionare
          }, function(data){
            if(data.error) {
              model.message(data.error);
            } else {
              model.message('Updated!');
              alert('Updated!');
            }
          });
        }
    };


    ko.applyBindings(model);

    document.onreadystatechange = function () {
        if (document.readyState == "complete") {
            $.get('/admin/clients.json', function (data) {
                console.log(data);
                data.clients.map(function (client) {
                  client.isChanged = true;
                  model.clients.push(client);
                })
            });
        }
    };
</script>
