<h1>Questionare</h1>

<p>Question1</p>
<p><input name="question1" type="radio" value="1">1</p>
<p><input name="question1" type="radio" value="2">2</p>
<p><input name="question1" type="radio" value="3">3</p>

<p>Question2</p>
<p><input name="question1" type="radio" value="1">1</p>
<p><input name="question1" type="radio" value="2">2</p>
<p><input name="question1" type="radio" value="3">3</p>

<p>Question3</p>
<p><input name="question1" type="radio" value="1">1</p>
<p><input name="question1" type="radio" value="2">2</p>
<p><input name="question1" type="radio" value="3">3</p>
