<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Hello {{name.givenName}} {{name.middleName}} {{name.familyName}}!</title>
</head>
<body>
<h4>
VERY IMPORTANT: Do Not Forward this Email. It contains a link to your
<span style="color:red">PERSONAL INFORMATION</span>. If you would like to send this to a friend,
contact <a href="mailto:sales@amazingcreditresults.com">sales@amazingcreditresults.com</a>.
</h4>

<div style="text-align:center">
    <p><a href="http://AmazingCreditResults.com">AmazingCreditResults.com</a>  – local</p>
    <p>500 Main Street</p>
    <p>Anytown, GA, 30310</p>
    <p>555-555-5555</p>
    <p><a href="mailto:Info@AmazingCreditResults.com">Info@AmazingCreditResults.com</a></p>
</div>

<p>{{date}}</p>
<p>{{name.givenName}} {{name.middleName}} {{name.familyName}}</p>
<p>Telefone: {{telefone}}</p>
<p>Your local Address:</p>
<p>{{localAddress}}</p>


<h2>Dear {{name.title}} {{name.familyName}}:</h2>

<p>On behalf of the entire <a href="http://AmazingCreditResults.com">AmazingCreditResults.com</a> staff,
we’d like to take this opportunity to welcome you as a new customer.
We are thrilled to have you with us.</p>

<p>We recognize that possessing good credit is more than a nice to have
for you—its life changing. We will work tirelessly to ensure that you
are extremely satifsfied with our
<a href="http://AmazingCreditResults.com">AmazingCreditResults.com</a>
for repairing, enhancing, or building your credit.
You are now on your way to establish
excellent credit scores. At AmazingCreditResults.com we pride ourselves
on providing our customers responsive, competent and excellent help.</p>

<p>We are happy you have chosen us to serve you with your credit needs,
we encourage you to contact our staff at any time with questions,
 comments and feedback. Just hit Reply or email
<a href="mailto:info@AmazingCreditResults.com">info@AmazingCreditResults.com</a>.</p>

<p>We thank you again for entrusting
<a href="http://AmazingCreditResults.com">AmazingCreditResults.com</a>
with fixing your credit. We are honored and privileged to serve you.</p>

<p>To go to our site, please click in on the link below:</p>
<h3 style="border: 1px solid black; background-color: #ADD8E6">
  <a href="{{welcomeLink}}" target="_blank">
     Click here for your personalized inventory page
  </a>
</h3>

<p>If you cannot click the link above, copy and paste the following into your broswer:</p>
<p><a href="{{welcomeLink}}">{{welcomeLink}}</a></p>

<p>Thanks again and best regards,</p>
<h4>Signature</h4>
<p>Ronald Eaton</p>
<hr>
<p><strong>
This email and any files transmitted with it are confidential and intended solely for the use of the individual or
entity to whom they are addressed.It may also be privileged or otherwise protected by work product immunity or other
legal regulations. If you are not the named addressee you should not disseminate, distribute or copy this e-mail.
Please notify the sender immediately by e-mail if you have received this e-mail by mistake and delete this e-mail from your system.
E-mail transmission cannot be guaranteed to be secure or error-free as information could be intercepted, corrupted,
lost, destroyed, arrive late or incomplete, or contain viruses. The sender therefore does not accept liability
for any errors or omissions in the contents of this message, which arise as a result of e-mail transmission.
If verification is required please request a hard-copy version.
AmazingCreditResults, Suite# 1, Street, City, Country,
<a href="www.amazingcreditresults.com">www.amazingcreditresults.com</a>
</strong></p>
</body>
</html>