<!DOCTYPE html>
<html>
<head>
    <title>Hello {{name.givenName}} {{name.middleName}} {{name.familyName}}!</title>
</head>
<body>
<p><strong>
    This email and any files transmitted with it are confidential and intended solely for the use of the individual or
    entity to whom they are addressed.It may also be privileged or otherwise protected by work product immunity or other
    legal regulations. If you are not the named addressee you should not disseminate, distribute or copy this e-mail.
    Please notify the sender immediately by e-mail if you have received this e-mail by mistake and delete this e-mail from your system.
    E-mail transmission cannot be guaranteed to be secure or error-free as information could be intercepted, corrupted,
    lost, destroyed, arrive late or incomplete, or contain viruses. The sender therefore does not accept liability
    for any errors or omissions in the contents of this message, which arise as a result of e-mail transmission.
    If verification is required please request a hard-copy version.
    AmazingCreditResults, Suite# 1, Street, City, Country, <a href="www.amazingcreditresults.com">www.amazingcreditresults.com</a>
</strong></p>

<div align="center">
    <p><a href="http://AmazingCreditResults.com">AmazingCreditResults.com</a>  – local</p>
    <p>500 Main Street</p>
    <p>Anytown, GA, 30310</p>
    <p>555-555-5555</p>
    <p><a href="mailto:Info@AmazingCreditResults.com">Info@AmazingCreditResults.com</a></p>
</div>

<div align="left">
    <p>{{date}}</p>
    <p>{{name.givenName}} {{name.middleName}} {{name.familyName}}</p>
    <p>Telefone: {{telefone}}</p>
    <p>Your local Address:</p>
    <p>{{localAddress}}</p>

</div>

<h2>Dear {{name.title}} {{name.familyName}}:</h2>

<p>On behalf of the entire AmazingCreditResults.com staff, we’d like to take this opportunity to welcome you as a new customer,
    we are thrilled to have you with us.</p>

<p>We  cognize that you possess good credit is more than a nice to have for you—its life changing.
We will work to tirelessly ensure to the best of our ability that you will be extremely gratified with your excellent
decision to use our service at AmazingCreditResults.com to repair enhance or build your credit. You are now on your way
to establish excellent credit scores.</p>

<p>At AmazingCreditResults.com we pride ourselves on providing our customers responsive, competent and excellent help.
    Our customers are the most important part of our business, and we work tirelessly to ensure your complete satisfaction,
    immediately and for as long as you are a customer.</p>

<p>We are happy you have chosen us to serve you with your credit needs,
we encourage you to contact our staff at any time with questions, comments and feedback.
</p>

<p>We can be reached anytime at <a href="mailto:info@AmazingCreditResults.com">info@AmazingCreditResults.com</a></p>
<p>We thank you again for entrusting <a href="http://AmazingCreditResults.com">AmazingCreditResults.com</a>
with your most important business of credit. We are honored and privileged to serve you.</p>

<p>To go to our site, please click in on the link below</p>
<h3><A href="{{welcomeLink}}">{{welcomeLink}}</a></h3>

<p>Thanks again and best regards,</p>
<h4>Signature</h4>
<p>Edwina Doe</p>

<p><strong>
    This email and any files transmitted with it are confidential and intended solely for the use of the individual or
    entity to whom they are addressed.It may also be privileged or otherwise protected by work product immunity or other
    legal regulations. If you are not the named addressee you should not disseminate, distribute or copy this e-mail.
    Please notify the sender immediately by e-mail if you have received this e-mail by mistake and delete this e-mail from your system.
    E-mail transmission cannot be guaranteed to be secure or error-free as information could be intercepted, corrupted,
    lost, destroyed, arrive late or incomplete, or contain viruses. The sender therefore does not accept liability
    for any errors or omissions in the contents of this message, which arise as a result of e-mail transmission.
    If verification is required please request a hard-copy version.
    AmazingCreditResults, Suite# 1, Street, City, Country, <a href="www.amazingcreditresults.com">www.amazingcreditresults.com</a>
</strong></p>
</body>
</html>